*{
    margin: 0px;
    padding: 0px ;
}
body{
    background-color: lime;
}

#container{
    width: 500px;
    height: 500px;
    background-color: coral;
    margin-top: 8% ;
    margin-left: 31%;
    border-radius: 10%;
    box-shadow: 10px 10px 10px magenta, -10px -10px 10px orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

input{
    width: 90%;
    height: 60px;
    margin-top: 5%;
    border: 5px solid salmon;
    border-radius: 10px;
}

input[type]{
    font-size: 30px;
    text-align: center;
}



