/* UNIVERSAL SELECTOR (TO REMOVE MARGIN AND BODER) */
*{
    margin: 0px;
    border: 0px;
}


 h1{
    font-size: 50px;
    width: 40%;
    border: 5px solid maroon;

    /* PADDING BODER OPERTAIONS (TOP, RIGHT, BOTTOM, LEFT)*/
    padding-left: 320px;
    padding-top: 200px;
    padding-bottom: 250px;
    padding-right: 400px;


    padding: 100px;
    padding: 100px 200px;
    padding: 100px 200px 300px 400px; */

    /* MARGIN BODER OPERATIONS */
    margin-left: 200px;
    margin-top: 300px ;
    margin-right: 200px;
    margin-bottom: 300px;
} 