h1{
    font-size: 49px;
}


#solid{
    border-width: 10px;
    border-style: solid;
    border-color: red;
}

#double{
    border-width: 15px;
    border-style: double;
    border-color: maroon;
}

#dotted{
    border-width: 15px;
    border-style: dotted;
    border-color: darkblue;
}

#dashed{
    border-width: 15px;
    border-style: dashed;
    border-color: brown;
}

img{
    width: 320px;
}

#inset{
    border-width: 15px;
    border-style: inset;
    border-color: rgb(213, 235, 135);
}

#outset{
    border-width: 15px;
    border-style: outset;
    border-color: rgb(90, 43, 43);
}

#groove{
    border-width: 15px;
    border-style: groove;
    border-color: rgb(2, 255, 2);
}

#ridge{
    border-width: 15px;
    border-style: ridge;
    border-color: rgb(31, 2, 2);
}

#none{
    border-width: 20px;
    border-radius: 20px;

    border-style: none;
    border-color: brown;
}

#boder{
  border: 30px solid orangered;

}

#boderdiff{
    
    border-left: 30px inset red;
    border-right: 30px outset skyblue;
    border-top: 30px groove brown;
    border-bottom: 30px ridge darksalmon;
}

/* boder radius */

#radius1{
    border-radius: 100px;
    border: 30px solid orangered;

}

/* boder radius on circle */
#circle1{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-radius: 100px;
    background-color: orangered;
    border: 15px solid black;
    float: left;
}

#circle2{
    width: 300px;
    height: 300px;
    border-radius: 100% 50%;
    border-radius: 350px 50px ;
    background-color: rgb(187, 255, 0);
    border: 15px solid black;
    float: left;
}

#circle3{
    width: 300px;
    height: 300px;
    border-radius:  150px 250px 150px 250px;
    border-radius: 0% 100% 0% 100% ;
    background-color: rgb(85, 255, 0);
    border: 15px solid black;
    float: left;
}

/* boder radius for ellipse */
#ellipse1{
    width: 300px;
    height: 300px;
    
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
    background-color: rgb(85, 255, 0);
    border: 15px solid black;
   float: left;
}

#ellipse2{
    width: 300px;
    height: 300px;
    border-radius: 100% 70%/50% 40%;
    border-radius: 200px 20px/50px 80px;
    border-radius: 100% 0% 100% 0%/100%  0% 100% 0% ;
    background-color: rgb(43, 0, 255);
    border: 15px solid black;
   float: left;
}

#ellipse3{
    width: 300px;
    height: 300px;
    border-radius: 100% 70% 150% 80%/50% 40% 20% 100%;
    border-radius: 200px 520px 80px 400px/50px 588px 60px 40px;
    border-radius: 30% 70% 70% 30%/30%  30% 70% 70% ;
    background-color: rgb(43, 0, 255);
    border: 15px solid black;
   float: left;
}